@import "tailwindcss";


.standardText {
  border: 1px solid #110055;
  border-radius: 8px;
}

.containerCenterGrid {
    display: grid;
    align-content: center;
    margin: auto;
    padding: 10px;
    grid-template-columns: 50%;
 
}