@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
 
}

.standardText {
  border: 1px solid #110055;
  border-radius: 8px;
}

.containerCenterGrid {
    display: grid;
    align-content: center;
    margin: auto;
    padding: 10px;
    grid-template-columns: 50%;
 
}